.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 5px;
    background-color: #eee;
}

.block {
    padding: 20px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.block1 {
    grid-column: 1 / -1;
    background-color: #b63b6a;
}

.block2 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-color: #6f6fa8;
}

.block3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #7d8fc7;
}

.block4 {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    background-color: #a7d7dc;
}

.block5 {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    background-color: #c79ad9;
}

.block6 {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    background-color: #b63b6a;
}

.block7 {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
    background-color: #6f6fa8;
}

.block8 {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    background-color: #7d8fc7;
}
