body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

section {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
}

h2{
    text-decoration: underline;
}

header h1 {
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 3em;
    padding: 40px 20px;
    margin: 0;
    font-weight: bold;
}

nav {
    background-color: #444;
    color: white;
    padding: 5px 10px;
}

nav a {
    color: #a6f39c;
    text-decoration: none;
    font-weight: bold;
    padding: 0 8px;
}

nav a:hover {
    text-decoration: underline;
}

article {
    background-color: #eee;
    margin: 10px 0;
    padding: 15px;
}

article header h2 {
    color: #333;
    margin-top: 0;
}

article p {
    font-size: 0.9em;
    color: black;
    line-height: 1.4em;
}

article footer a {
    font-size: 0.85em;
    text-decoration: none;
    color: blue;
}

article footer a {
    text-decoration: underline;
}

section > footer {
    background-color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
    color: black;
}
