/* container */
body > div {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 2fr 1fr;
}

body > div > div {
    color: white;
    text-align: center;
    font-size: 3em;
    padding: 20px;
}

/* ===============================
   KLEUREN
   =============================== */

.item-1 { background: #b03532; }
.item-2 { background: #33a8a5; }
.item-3 { background: #30997a; }
.item-4 { background: #6a478f; }
.item-5 { background: #da6f2b; }
.item-6 { background: #3d8bb1; }
.item-7 { background: #e03f3f; }
.item-8 { background: #59a627; }
.item-9 { background: #4464a1; }

@media (min-width: 760px) {
    body > div {
        grid-template-rows: auto auto auto auto;
    }

    .item-9 { grid-column: 1 / 3; grid-row: 1; }
    .item-2 { grid-column: 3 / 4; grid-row: 1; }

    .item-4 { grid-column: 1 / 3; grid-row: 2; }
    .item-5 { grid-column: 3 / 4; grid-row: 2; }

    .item-7 { grid-column: 1 / 3; grid-row: 3; }
    .item-8 { grid-column: 3 / 4; grid-row: 3; }

    .item-3 {
        grid-column: 1 / -1;
        grid-row: 4;
    }

    .item-1,
    .item-6 {
        display: none;
    }
}

@media (max-width: 759px) {
    body > div {
        grid-template-columns: 1fr;
    }

    .item-9 { order: 1; }
    .item-2 { order: 2; }
    .item-4 { order: 3; }
    .item-5 { order: 4; }
    .item-7 { order: 5; }
    .item-8 { order: 6; }
    .item-3 { order: 7; }

    .item-1,
    .item-6 {
        display: none;
    }
}
