body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2B2D42;
    color: #8D99AE;
    padding: 30px;
    margin-bottom: 10px;
}

header h1,
header h2 {
    color: #EDF2F4;
}

header h1 {
    font-size: 80px;
    margin: 0;
}

header h2 {
    font-size: 40px;
    margin: 0 0 20px 0;
}

.education {
    background-color: #8D99AE;
    color: #2B2D42;
    padding: 30px;
}

footer {
    background-color: #2B2D42;
    color: #8D99AE;
    padding: 30px;
    margin-top: 10px;
}

footer h2 {
    color: #EDF2F4;
}

a {
    color: #EF233C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
